mode: deployment
image:
  repository: otel/opentelemetry-collector
config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
  processors:
    batch:
      timeout: 10s
      send_batch_size: 1024
  exporters:
    debug:
      verbosity: detailed
    otlphttp:
      endpoint: "http://loki.telemetry.svc.cluster.local:3100/otlp"
      tls:
        insecure: true
    otlp/tempo:
      endpoint: "http://tempo.telemetry.svc.cluster.local:4317"
      tls:
        insecure: true
  service:
    pipelines:
      logs:
        receivers: [otlp]
        processors: [batch]
        exporters: [debug, otlphttp]
      traces:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlp/tempo]
